<div class="container">
  <div class="flex flex-row align-items-center md:justify-content-between">
    <div class="flex flex-row align-items-center row-gap-2">
      <p-avatar label="P" class="mr-5" size="xlarge" shape="circle" />
      <div class="flex flex-column column-gap-1">
        <h2>
          {{ (authService.user$ | async)?.firstName }}
          {{ (authService.user$ | async)?.lastName }}
        </h2>
        <p style="color: var(--bluegray-400)">
          {{ (authService.user$ | async)?.email }}
        </p>
      </div>
    </div>
    <p-button
      label="Profile"
      icon="bi bi-pencil"
      severity="secondary"
      routerLink="/dashboard/profile"
      routerLinkActive="active"
    />
  </div>
  <p-divider />
</div>
